<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jmj.dao2.CaaeTenderinfo2Mapper" >
  <resultMap id="BaseResultMap" type="com.jmj.entity2.CaaeTenderinfo2" >
    <id column="TENDER_INFO_ID" property="tenderInfoId" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATE_TIME" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="PLATFORM_ID" property="platformId" jdbcType="VARCHAR" />
    <result column="PLATFORM_NAME" property="platformName" jdbcType="VARCHAR" />
    <result column="TRAD_INSTITUTION_ID" property="tradInstitutionId" jdbcType="VARCHAR" />
    <result column="TRAD_INSTITUTION_NAME" property="tradInstitutionName" jdbcType="VARCHAR" />
    <result column="PROJECT_TYPE" property="projectType" jdbcType="VARCHAR" />
    <result column="TENDERER" property="tenderer" jdbcType="VARCHAR" />
    <result column="TENDER_SCORE" property="tenderScore" jdbcType="VARCHAR" />
    <result column="TENDER_PRICE" property="tenderPrice" jdbcType="DECIMAL" />
    <result column="PRO_TRANS_ID" property="proTransId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TENDER_INFO_ID, CREATE_TIME, LAST_UPDATE_TIME, PLATFORM_ID, PLATFORM_NAME, TRAD_INSTITUTION_ID, 
    TRAD_INSTITUTION_NAME, PROJECT_TYPE, TENDERER, TENDER_SCORE, TENDER_PRICE, PRO_TRANS_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jmj.entity2.CaaeTenderinfo2Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PRAPP.CAAE_TENDERINFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PRAPP.CAAE_TENDERINFO
    where TENDER_INFO_ID = #{tenderInfoId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PRAPP.CAAE_TENDERINFO
    where TENDER_INFO_ID = #{tenderInfoId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jmj.entity2.CaaeTenderinfo2Example" >
    delete from PRAPP.CAAE_TENDERINFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jmj.entity2.CaaeTenderinfo2" >
    insert into PRAPP.CAAE_TENDERINFO (TENDER_INFO_ID, CREATE_TIME, LAST_UPDATE_TIME, 
      PLATFORM_ID, PLATFORM_NAME, TRAD_INSTITUTION_ID, 
      TRAD_INSTITUTION_NAME, PROJECT_TYPE, TENDERER, 
      TENDER_SCORE, TENDER_PRICE, PRO_TRANS_ID
      )
    values (#{tenderInfoId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP}, 
      #{platformId,jdbcType=VARCHAR}, #{platformName,jdbcType=VARCHAR}, #{tradInstitutionId,jdbcType=VARCHAR}, 
      #{tradInstitutionName,jdbcType=VARCHAR}, #{projectType,jdbcType=VARCHAR}, #{tenderer,jdbcType=VARCHAR}, 
      #{tenderScore,jdbcType=VARCHAR}, #{tenderPrice,jdbcType=DECIMAL}, #{proTransId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jmj.entity2.CaaeTenderinfo2" >
    insert into PRAPP.CAAE_TENDERINFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tenderInfoId != null" >
        TENDER_INFO_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="lastUpdateTime != null" >
        LAST_UPDATE_TIME,
      </if>
      <if test="platformId != null" >
        PLATFORM_ID,
      </if>
      <if test="platformName != null" >
        PLATFORM_NAME,
      </if>
      <if test="tradInstitutionId != null" >
        TRAD_INSTITUTION_ID,
      </if>
      <if test="tradInstitutionName != null" >
        TRAD_INSTITUTION_NAME,
      </if>
      <if test="projectType != null" >
        PROJECT_TYPE,
      </if>
      <if test="tenderer != null" >
        TENDERER,
      </if>
      <if test="tenderScore != null" >
        TENDER_SCORE,
      </if>
      <if test="tenderPrice != null" >
        TENDER_PRICE,
      </if>
      <if test="proTransId != null" >
        PRO_TRANS_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tenderInfoId != null" >
        #{tenderInfoId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="platformId != null" >
        #{platformId,jdbcType=VARCHAR},
      </if>
      <if test="platformName != null" >
        #{platformName,jdbcType=VARCHAR},
      </if>
      <if test="tradInstitutionId != null" >
        #{tradInstitutionId,jdbcType=VARCHAR},
      </if>
      <if test="tradInstitutionName != null" >
        #{tradInstitutionName,jdbcType=VARCHAR},
      </if>
      <if test="projectType != null" >
        #{projectType,jdbcType=VARCHAR},
      </if>
      <if test="tenderer != null" >
        #{tenderer,jdbcType=VARCHAR},
      </if>
      <if test="tenderScore != null" >
        #{tenderScore,jdbcType=VARCHAR},
      </if>
      <if test="tenderPrice != null" >
        #{tenderPrice,jdbcType=DECIMAL},
      </if>
      <if test="proTransId != null" >
        #{proTransId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jmj.entity2.CaaeTenderinfo2Example" resultType="java.lang.Integer" >
    select count(*) from PRAPP.CAAE_TENDERINFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PRAPP.CAAE_TENDERINFO
    <set >
      <if test="record.tenderInfoId != null" >
        TENDER_INFO_ID = #{record.tenderInfoId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateTime != null" >
        LAST_UPDATE_TIME = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.platformId != null" >
        PLATFORM_ID = #{record.platformId,jdbcType=VARCHAR},
      </if>
      <if test="record.platformName != null" >
        PLATFORM_NAME = #{record.platformName,jdbcType=VARCHAR},
      </if>
      <if test="record.tradInstitutionId != null" >
        TRAD_INSTITUTION_ID = #{record.tradInstitutionId,jdbcType=VARCHAR},
      </if>
      <if test="record.tradInstitutionName != null" >
        TRAD_INSTITUTION_NAME = #{record.tradInstitutionName,jdbcType=VARCHAR},
      </if>
      <if test="record.projectType != null" >
        PROJECT_TYPE = #{record.projectType,jdbcType=VARCHAR},
      </if>
      <if test="record.tenderer != null" >
        TENDERER = #{record.tenderer,jdbcType=VARCHAR},
      </if>
      <if test="record.tenderScore != null" >
        TENDER_SCORE = #{record.tenderScore,jdbcType=VARCHAR},
      </if>
      <if test="record.tenderPrice != null" >
        TENDER_PRICE = #{record.tenderPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.proTransId != null" >
        PRO_TRANS_ID = #{record.proTransId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PRAPP.CAAE_TENDERINFO
    set TENDER_INFO_ID = #{record.tenderInfoId,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_TIME = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      PLATFORM_ID = #{record.platformId,jdbcType=VARCHAR},
      PLATFORM_NAME = #{record.platformName,jdbcType=VARCHAR},
      TRAD_INSTITUTION_ID = #{record.tradInstitutionId,jdbcType=VARCHAR},
      TRAD_INSTITUTION_NAME = #{record.tradInstitutionName,jdbcType=VARCHAR},
      PROJECT_TYPE = #{record.projectType,jdbcType=VARCHAR},
      TENDERER = #{record.tenderer,jdbcType=VARCHAR},
      TENDER_SCORE = #{record.tenderScore,jdbcType=VARCHAR},
      TENDER_PRICE = #{record.tenderPrice,jdbcType=DECIMAL},
      PRO_TRANS_ID = #{record.proTransId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jmj.entity2.CaaeTenderinfo2" >
    update PRAPP.CAAE_TENDERINFO
    <set >
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="platformId != null" >
        PLATFORM_ID = #{platformId,jdbcType=VARCHAR},
      </if>
      <if test="platformName != null" >
        PLATFORM_NAME = #{platformName,jdbcType=VARCHAR},
      </if>
      <if test="tradInstitutionId != null" >
        TRAD_INSTITUTION_ID = #{tradInstitutionId,jdbcType=VARCHAR},
      </if>
      <if test="tradInstitutionName != null" >
        TRAD_INSTITUTION_NAME = #{tradInstitutionName,jdbcType=VARCHAR},
      </if>
      <if test="projectType != null" >
        PROJECT_TYPE = #{projectType,jdbcType=VARCHAR},
      </if>
      <if test="tenderer != null" >
        TENDERER = #{tenderer,jdbcType=VARCHAR},
      </if>
      <if test="tenderScore != null" >
        TENDER_SCORE = #{tenderScore,jdbcType=VARCHAR},
      </if>
      <if test="tenderPrice != null" >
        TENDER_PRICE = #{tenderPrice,jdbcType=DECIMAL},
      </if>
      <if test="proTransId != null" >
        PRO_TRANS_ID = #{proTransId,jdbcType=VARCHAR},
      </if>
    </set>
    where TENDER_INFO_ID = #{tenderInfoId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jmj.entity2.CaaeTenderinfo2" >
    update PRAPP.CAAE_TENDERINFO
    set CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP},
      PLATFORM_ID = #{platformId,jdbcType=VARCHAR},
      PLATFORM_NAME = #{platformName,jdbcType=VARCHAR},
      TRAD_INSTITUTION_ID = #{tradInstitutionId,jdbcType=VARCHAR},
      TRAD_INSTITUTION_NAME = #{tradInstitutionName,jdbcType=VARCHAR},
      PROJECT_TYPE = #{projectType,jdbcType=VARCHAR},
      TENDERER = #{tenderer,jdbcType=VARCHAR},
      TENDER_SCORE = #{tenderScore,jdbcType=VARCHAR},
      TENDER_PRICE = #{tenderPrice,jdbcType=DECIMAL},
      PRO_TRANS_ID = #{proTransId,jdbcType=VARCHAR}
    where TENDER_INFO_ID = #{tenderInfoId,jdbcType=VARCHAR}
  </update>
</mapper>